<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тру чат</title>

    <link rel="stylesheet" href="static/styles/style.css">
</head>
<body>
<div id="wrap">
    <div id="header">
        <span>Online: {{countUsers}}</span>
    </div>
    <div id="chat">
        <div id="chat-history" :style="{maxHeight: chatHeight + 'px'}">
            <div id="error" v-if="error">
                Connection error. Try again letter!
            </div>
            <div v-else class="chat-message-wrap" v-for="message in history">
                <div class="chat-message-left">
                    <div class="chat-message-author">{{message.author}}</div>
                    <div class="chat-message-message">{{message.text}}</div>
                </div>
                <div class="chat-message-right">{{message.time | formatDate}}</div>
            </div>
        </div>
        <div id="chat-bottom">
            <div id="message-text">
                <textarea placeholder="Write a message..." id="textarea-message"
                          v-model="currentMessage"
                          @keydown.enter.prevent="sendMessage"
                          @keydown.enter.ctrl="newLine"
                ></textarea>
                <div id="message-bottom">
                    <span id="btn-send" v-on:click="sendMessage">SEND</span>
                </div>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="static/js/main.js"></script>
</body>
</html>