* {
    margin: 0;
    padding: 0;
}

html {
    background: #e7ebf0;
    height: 100%;
    width: 100%;
}

body {
    background: 0, 0;
    height: 100%;
    width: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    display: flex;
    flex-direction: column;
}

#chat {
    width: 697px;
    background: #fff;
    flex: 1;
    align-self: center;
    border: 1px solid #d2dbe3;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

#chat-history {
    flex: 1;
    overflow-y: hidden;
    position: relative;
}

#error {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
}

#chat-history:hover {
    overflow-y: auto;
}

.chat-message-wrap {
    margin: 8px 10px 8px 16px;
    display: flex;
    flex-direction: row;
}

.chat-message-left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-message-author {
    font-weight: 700;
    color: #3a6d99;
}

.chat-message-message {
    word-wrap: break-word;
    white-space: pre-wrap;
    line-height: 150%;
    max-width: 561px;
}

.chat-message-right {
    width: 110px;
    color: #adadad;
    font-size: .85em;
}

#chat-bottom {
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#textarea-message {
    width: 540px;
    height: 80px;
    padding: 1px 28px 1px 11px;
    border: 0;
    box-shadow: 0 1px 0 0 #e8e8e8;
    background: #ffffff;
    color: #000000;
    resize: none;
    outline: none;
}

#textarea-message:focus {
    box-shadow: 0 2px 0 0 #3a6d99;
}

#btn-send {
    cursor: pointer;
    color: #72a0c7;
    margin-top: 5px;
    float: right;
    font-weight: bold;
}

#btn-send:hover {
    color: #499dd9;
}

#header {
    height: 48px;
    width: 697px;
    background: #5682a3;
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #fff;
    justify-content: right;
    box-sizing: border-box;
    padding: 0 20px;
}

#footer {
    height: 20px;
}

.auth-wrap {
    justify-content: center;
    align-items: center;
}

#auth-form {
    width: 400px;
    height: 400px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

#auth-tip {
    color: #999;
    font-size: 13px;
}

#auth-nickname {
    color: #000;
    background: #fff;
    outline: none;
    border: 0;
    font-size: 13px;
    font-family: inherit;
    border-bottom: 1px solid #e6e6e6;
    width: 199px;
    height: 50px;
    padding: 3px 0;
}

#auth-nickname:focus {
    border-bottom: 2px solid #6bace1;
}